<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SystemLogic.Properties.Settings.WIL2017ConnectionString"
            connectionString="Data Source=GEIMAJ;Initial Catalog=WIL2017;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SystemLogic.Properties.Settings._2017_WILConnectionString"
            connectionString="Data Source=192.168.2.199;Initial Catalog=2017-WIL;Persist Security Info=True;User ID=SA;Password=Password1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>