<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SystemLogic.Properties.Settings.WIL2017ConnectionString"
            connectionString="Data Source=GEIMAJ;Initial Catalog=WIL2017;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>